<div class="maintext">
  <h1>Speakers</h1>
  <section id="speakers">
    <section id="invitation_speaker">
      <h2>招待講演</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/makoto_inoue">@makoto_inoue</a></li>
          <li><a href="http://twitter.com/nari3">@nari3</a></li>
        </ul>
      </section>
    </section>
    <section id="main_speaker">
      <h2>基調講演</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/a_matsuda">@a_matsuda</a></li>
          <li><a href="http://twitter.com/koichisasada">@koichisasada</a></li>
        </ul>
      </section>
    </section>
    <section id="main_speaker">
      <h2>Ninja Talks</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/takkanm">@takkanm</a></li>
          <li><a href="http://twitter.com/katsyoshi">@katsyoshi</a></li>
          <li><a href="http://twitter.com/mrkn">@mrkn</a></li>
          <li><a href="http://twitter.com/yuri_at_earth">@yuri_at_earth</a></li>
          <li><a href="http://twitter.com/morgan_randy">@morgan_randy</a></li>
          <li><a href="http://twitter.com/hsbt">@hsbt</a></li>
          <li><a href="http://twitter.com/yuki24">@yuki24</a></li>
          <li><a href="http://twitter.com/takeshinoda">@takeshinoda</a></li>
          <li><a href="http://twitter.com/yotii23">@yotii23</a></li>
        </ul>
      </section>
    </section>
    <section id="opeing_and_closing">
      <h2>開会・閉会のご挨拶</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/kakutani">@kakutani</a></li>
        </ul>
      </section>
    </section>
  </section>
</div>