<div class="maintext">
  <h1>Speakers</h1>
  <section id="speakers">
    <section id="invitation_speaker">
      <h2>招待講演</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/makoto_inoue"><img class="gravatar" src="http://www.gravatar.com/avatar/1eecfce54b4f902784d046328935efd4"><br>@makoto_inoue</a></li>
          <li><a href="http://twitter.com/nari3"><img class="gravatar" src="http://www.gravatar.com/avatar/9f859654c118bcd2f67cc763baf0de7a"><br>@nari3</a></li>
        </ul>
      </section>
    </section>
    <section id="main_speaker">
      <h2>基調講演</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/a_matsuda"><img class="gravatar" src="http://www.gravatar.com/avatar/76a777ff80f30bd3b390e275cce625bc"><br>@a_matsuda</a></li>
          <li><a href="http://twitter.com/koichisasada"><img class="gravatar" src="no_icon.png"><br>@koichisasada</a></li>
        </ul>
      </section>
    </section>
    <section id="main_speaker">
      <h2>Ninja Talks</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/takkanm"><img class="gravatar" src="http://www.gravatar.com/avatar/8f39a252784d5a99589be6e20c4553fb"><br>@takkanm</a></li>
          <li><a href="http://twitter.com/katsyoshi"><img class="gravatar" src="http://www.gravatar.com/avatar/3fdeea2cc159ff59f9c3306a1e44d8f5"><br>@katsyoshi</a></li>
          <li><a href="http://twitter.com/mrkn"><img class="gravatar" src="http://www.gravatar.com/avatar/f92d08fba5207992c4e6b85ab9515a2f"><br>@mrkn</a></li>
          <li><a href="http://twitter.com/yuri_at_earth"><img class="gravatar" src="no_icon.png"><br>@yuri_at_earth</a></li>
          <li><a href="http://twitter.com/morgan_randy"><img class="gravatar" src="http://www.gravatar.com/avatar/855975ff404621dc525c72b618d95dcc"><br>@morgan_randy</a></li>
          <li><a href="http://twitter.com/hsbt"><img class="gravatar" src="http://www.gravatar.com/avatar/eabad423977cfc6873b8f5df62b848a6"><br>@hsbt</a></li>
          <li><a href="http://twitter.com/yuki24"><img class="gravatar" src="http://www.gravatar.com/avatar/bcd6fc0618a420ba3d59fe5bfaf2b323"><br>@yuki24</a></li>
          <li><a href="http://twitter.com/takeshinoda"><img class="gravatar" src="http://www.gravatar.com/avatar/06febd004d7cc9c9f6a4e0272b686bc7"><br>@takeshinoda</a></li>
          <li><a href="http://twitter.com/yotii23"><img class="gravatar" src="http://www.gravatar.com/avatar/c67596c92e9d161d314f69de3f05f00c"><br>@yotii23</a></li>
        </ul>
      </section>
    </section>
    <section id="opeing_and_closing">
      <h2>開会・閉会のご挨拶</h2>
      <section>
        <ul>
          <li><a href="http://twitter.com/kakutani"><img class="gravatar" src="http://www.gravatar.com/avatar/63a6bff89d692e21de20868202bc8dde"><br>@kakutani</a></li>
        </ul>
      </section>
    </section>
  </section>
</div>
